/*===================================

Default Theme css
-------------------------------------
Fonts: Raleway & Open sans
-------------------------------------
colors:
    Nero:           #222222
    White:          #fff
    gray:           #6f6f6f

=====================================*/


/*===================================
            Html, Body
=====================================*/

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

html,
body {}

body {
    color: #6f6f6f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}

section {
    overflow: hidden;
}

ul li {
    display: inline-block;
}


/*===================================
            nav section
=====================================*/

.navbar {
    height: 80px;
    padding-top: 15px;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.navbar-nav li a:hover,
.navbar-nav li a:focus {
    background: transparent;
}

.navbar-nav li a {
    position: relative;
    display: block;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.navbar-nav li a:hover {
    color: #fff;
    text-decoration: none;
}

.navbar-nav li a:before,
.navbar-nav li a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -2px;
    background: #fff;
}

.navbar-nav li a:before {
    left: 0;
}

.navbar-nav li a:after {
    right: 0;
    background: #fff;
    -webkit-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navbar-nav li a:hover:before {
    background: #fff;
    width: 100%;
    -webkit-transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navbar-nav li a:hover:after {
    background: transparent;
    width: 100%;
    -webkit-transition: 0s;
    transition: 0s;
}

.dark-blue-bg {
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 10px 12px 0px rgba(34, 34, 34, 0.24);
}


/*===================================
            slider section
=====================================*/

#slide {
    background: url('../img/slide/slider.png');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#slider-section {
    display: table;
    height: 100vh;
    width: 100%;
    text-align: left;
    margin-left: 200px;
}

#slider-text {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}

.heading-1 {
    font-size: 30px;
    line-height: 39px;
    font-weight: 100;
    text-transform: uppercase;
}

.heading-1 span {
    font-weight: 500;
}

.heading-2 {
    font-size: 60px;
    font-weight: 100;
    text-transform: uppercase;
}

.heading-2 span {
    font-weight: 500;
}


/*===================================
            slider scial section
=====================================*/

#slider-scial a i {
    color: #fff;
    margin: 10px 50px 0px 5px;
    font-size: 18px;
    line-height: 29px;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

#slider-scial a i:hover,
#slider-scial a i:focus {
    color: #6f6f6f;
}

.scrolldown {
    position: absolute;
    top: 85%;
    z-index: 1;
    left: 90%;
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    transform: rotate(90deg);
}

.scrolldown p {
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    line-height: 23px;
    outline: 0;
    text-transform: uppercase;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.scrolldown p:after {
    content: '\f105';
    font-family: 'FontAwesome';
    font-size: 18px;
    padding-left: 5px;
}

.scrolldown p:hover {
    color: #6f6f6f;
}


/*===================================
            content-box
=====================================*/

.content-box-lg {
    margin-top: 120px;
    margin-bottom: 60px;
}

.content-box-md {
    margin-top: 60px;
}


/*===================================
            Title
=====================================*/

.title {}

.title h2 {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 49px;
    color: #222222;
}

.title p {
    font-size: 14px;
    line-height: 23px;
}


/*===================================
            about section
=====================================*/

#about-text {
    padding: 10px 20px;
}

.name {
    font-size: 30px;
    line-height: 49px;
    color: #222222;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

#about-text p {
    font-size: 14px;
    line-height: 23px;
}

#about-button {
    margin-top: 50px;
}

#about-button a {
    margin-right: 30px;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 10px 0px;
    color: #fff;
    background: #222222;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 26px;
    font-weight: 600;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

#about-button a:hover {
    color: #fff;
    background: #6f6f6f;
}


/*===================================
            service section
=====================================*/

#service {}

.service-content {
    padding: 40px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 35px -20px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.service-content img {
    margin: 0 auto;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.service-content h2 {
    font-size: 24px;
    line-height: 28px;
    color: #222222;
    font-weight: 600;
    text-transform: uppercase;
}

.service-content p {
    font-size: 14px;
    line-height: 23px;
}

.service-content:hover img {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.service-content:hover {
    cursor: pointer;
    box-shadow: 0 3px 10px 1px rgba(0, 0, 0, .1);
}


/*===================================
            service section
=====================================*/

.portfolio-wrapper {}

.row.no-gutters [class*=col-] {
    padding: 0;
}

.portfolio-item {
    overflow: hidden;
    position: relative;
}


/* portfolio filters css */

#isotop-filters {
    margin-bottom: 15px;
    padding: 20px 25px 20px 0;
    text-align: center;
    margin-top: 60px;
}

#isotop-filters button {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 600;
    text-transform: uppercase;
    background: transparent;
    box-shadow: none;
    padding-right: 35px;
    outline: 0;
}

#isotop-filters button span {
    display: block;
    padding-bottom: 5px;
    -webkit-transition: border-color .4s ease-in-out;
    transition: border-color .4s ease-in-out;
}

#isotop-filters button.active span {
    color: #222222;
    border-bottom: 3px solid #222222;
}


/*ZOOM EFFECT*/

.portfolio-item img {
    width: 100%;
    height: auto;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
}

.portfolio-item:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/*overley EFFECT*/

.portfolio-item-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(14, 14, 17, 0.9);
    cursor: zoom-in;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


/*item-details effect*/

.portfolio-item-details {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.portfolio-item-details h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.portfolio-item-details span {
    display: inline-block;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    height: 6px;
    width: 30px;
    margin: 11px auto 5px auto;
}

.portfolio-item-details p {
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}


/*Show overlay on mouse hover */

.portfolio-item:hover .portfolio-item-details h3 {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.portfolio-item:hover .portfolio-item-details p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.portfolio-item:hover .portfolio-item-overlay {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}


/*===================================
            service section
=====================================*/

#counterup {}

.counterup-text {
    background: #222222;
    padding: 30px 20px;
    border-radius: 5px;
    color: #fff;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.counterup-text:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    background: #6f6f6f;
    cursor: pointer;
}

.counterup-text img {
    margin: 0 auto;
}

.counterup-text h2 {
    font-size: 30px;
    line-height: 49px;
}

.counterup-text h4 {
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 400;
}


/*===================================
          Testimonail
=====================================*/

#testimonial {}

.testimonial-content {
    background: #fff;
    text-align: center;
    width: 750px;
    padding: 30px 10px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 3px 10px 1px rgba(0, 0, 0, .1);
    margin-bottom: 60px;
    overflow: hidden;
}

.testimonial-content img {
    width: 180px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.testimonial-content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 30px;
}

.testimonial-content p:before {
    content: '\f10d ';
    font-family: 'FontAwesome';
    font-size: 14px;
    padding-right: 10px;
}

.testimonial-content p:after {
    content: '\f10e ';
    font-family: 'FontAwesome';
    font-size: 14px;
    padding-left: 10px;
}

.testimonial-content .Test-name {
    font-size: 18px;
    line-height: 29px;
    font-weight: 600;
    text-transform: uppercase;
    color: #222222;
}

.testimonial-content .Test-des {
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    text-transform: uppercase;
    display: initial;
}

.owl-carousel .owl-item img {
    display: block;
    width: 180px;
}

.owl-nav {
    position: relative;
    top: -300px;
    padding: 0px 60px;
}

.owl-prev {
    float: left;
    content: '/f10e';
}

.owl-next {
    float: right;
}

.owl-theme .owl-nav [class*=owl-] {
    color: #222222;
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
    background: #ffffff;
    cursor: pointer;
    border: 1px solid #222222;
    height: 40px;
    width: 40px;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: #222222;
    color: #FFF;
    text-decoration: none;
}


/*===================================
          Brand logo
=====================================*/

#brand-logo {
    background: #222222;
    padding: 40px 0px;
}

#brand-logo img {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

#brand-logo img:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    cursor: pointer;
}


/*===================================
            Blog
=====================================*/

.blog-section {
    background: #fff;
    box-shadow: 0 15px 35px -20px rgba(0, 0, 0, 0.2);
    padding: 20px 15px 40px 15px;
    overflow: hidden;
    border-bottom: 2px dotted #fff;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.blog-section:hover {
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0 3px 10px 1px rgba(0, 0, 0, .1);
    border-bottom: 2px dotted #6f6f6f;
    cursor: pointer;
}

.blog-section img {
    border-radius: 10px 10px 0px 0px;
}

.blog-section .post-info {}

.blog-section .post-info ul {}

.blog-section .post-info ul li {
    display: inline-block;
    margin-left: 15px;
    margin-top: 20px;
}

.blog-section .post-info ul li i {
    font-size: 16px;
    line-height: 26px;
}

.blog-section .post-text {}

.blog-section .post-text h4 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    color: #222222;
}

.blog-section .post-text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
}

.blog-section .post-text a {
    display: inline-block;
    padding: 10px 25px;
    color: #fff;
    background: #222222;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 10px 0px;
    line-height: 23px;
    font-weight: 600;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.blog-section .post-text a:hover,
.blog-section .post-text a:focus {
    color: #fff;
    background: #6f6f6f;
}


/*===================================
            Contact info
=====================================*/

.contact-info {
    text-align: center;
}

.contact-info ul li {
    margin-right: 40px;
    line-height: 30px;
    font-weight: 600;
}

.contact-info ul li:last-child {
    margin-right: 0px;
}

.contact-info ul li i {
    font-size: 16px;
    line-height: 26px;
    margin-right: 5px;
    color: #222222;
    font-family: ;
}


/*===================================
            Contact form
=====================================*/

.form-control {
    color: #6f6f6f;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #6f6f6f;
}

#ProFName,
#ProLName,
#ProEmail {
    padding: 25px 20px;
}

#ProMessage {
    height: 200px;
    padding: 25px 20px;
    margin-bottom: 30px;
}

#contact-button {
    margin-right: 30px;
    display: inline-block;
    padding: 10px 25px;
    color: #fff;
    background: #222222;
    text-decoration: none;
    border-radius: 10px 0px;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 26px;
    font-weight: 600;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

#contact-button:hover {
    color: #fff;
    background: #6f6f6f;
}


/*===================================
            footer
=====================================*/

footer {
    background: #222222;
    padding: 30px 0px;
}

#footer-scial a i {
    color: #fff;
    padding: 10px 30px 0px 5px;
    font-size: 18px;
    line-height: 29px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

#footer-scial a i:hover,
#footer-scial a i:focus {
    color: #6f6f6f;
}

.footer-section p {
    padding: 20px 0px;
    color: #fff;
    font-size: 14px;
    line-height: 23px;
    font-weight: 500;
    text-transform: uppercase;
}

#topcontrol img {
    margin: 20px;
}